<script type="text/html" class="groupEditFile">
	<div class="group-edit-file" id="<%- rc.id %>">

		<ul class="list-group">
			<li class="list-group-item active">Name</li>
			<li class="list-group-item">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">File - Name</div>
						<input class="form-control" id="group-node-path" type="text" placeholder="real file name" disabled="disabled" value="<%- rc.fullFilename %>">
					</div>
				</div>
				<input id="group-node-name" type="text" class="form-control" placeholder="File" value="<%- rc.name %>">
			</li>
			<li class="list-group-item active">Description</li>
			<li class="list-group-item">
				<textarea id="group-node-description" style="width:100%; resize:vertical;" class="form-control" rows="3" ><%- rc.description %></textarea>
			</li>
			<li class="list-group-item active">Select</li>
			<li class="list-group-item">
				<select class="form-control group-select" id="group-select">
					<option value=""></option>
					<% _.each(rc.files,function(file, index){ %>
						<option id="<%- file.id %>" value="<%- file.id %>-<%- index %>">
							<%- file.name %>
						</option>
					<% }); %>
				</select>
			</li>
		</ul>
	</div>
</script>