<script type="text/html" class="groupEditFolder">
	<div class="group-edit-folder" id="<%- rc.id %>">
		<ul class="list-group">
			<li class="list-group-item active">Name</li>
			<li class="list-group-item">
				<input id="group-node-name" type="text" class="form-control" placeholder="Folder" value="<%- rc.name %>">
			</li>
			<li class="list-group-item active">Description</li>
			<li class="list-group-item">
				<textarea id="group-node-description" style="width:100%; resize:vertical;" class="form-control" rows="3" ><%- rc.description %></textarea>
			</li>
		</ul>
	</div>
</script>